.body {
    margin: 0;
    padding: 0;
    background-color: #212B40;
}
.first {
    background-color: #212B40;
    width: 100%;
    height: 100vh;
}
.text {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
  color: #BF9E39
}
.justify-around {
    display: flex;
    justify-content: space-around;
}
.justify-center {
    display: flex;
    justify-content: center;
    top: 50%;
}
.height-center {
    display: flex;
    justify-content: center;
}
.menu {
    padding: 1.5vw;
}
.links {
    background-color: rgb(213, 217, 219);
    position: fixed;
    margin-top: 22vw;
    border-left: 1px solid #102644;
    border-right: 1px solid #102644;
    border-bottom: 1px solid #102644;
    transform: rotate(270deg);
    padding: 8px 15px 8px 15px;
    margin-left: -35;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.links a{
    color: #212B40;
    text-decoration: none;
}
.links a:hover {
    color: #BF9E39
}
.info {
    margin: 10px;
    background-color: #040224;
    width: auto;
    height: 100vh;
    border-radius: 20px;
}
.news {
    background-color: rgb(211, 211, 192);
    z-index: 999;
    margin: -100px 200px 0px 200px;
    width: auto;
    height: 30vh;
    border-radius: 20px;
    border: solid #102644;
    padding: 30px;
}
.news a{
    color:#040224
}
.news input[type="button"]{
    width: auto;
    height: 20px;
}
.footer {
    margin-top: 300px;
    background-color: #000;
    width: auto;
    height: 50vh;
    /* border-top-left-radius: 20px;
    border-top-right-radius: 20px; */
}
.login {
    color: #e9e4d0;
    background-color: #040224;
    padding: 10px 35px 35px 35px;
    width: 25%;
    height: 60%;
    float: right;
    margin: 100px;
    border-radius: 30px;
    border: solid #BF9E39;
    font-family: "Cabin", sans-serif;
}
.login input[type="text"], input[type="password"]{
    width: 100%;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #695346;
    border: solid #695346;
    color: #e9e4d0;
}
.login .link:hover {
    color: #BF9E39;
    text-decoration: none;
}
.login a {
    color: #e9e4d0;
    text-decoration: none;
}
.junto {
    margin-top: 30px;
    margin-bottom: 10px;
}
.entrar {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 30%;
    padding: 10px 0 10px 0;
    background-color: #BF9E39;
    border-radius: 5px;
    border: 0px;
    font-family: "Cabin", sans-serif;
    color: #0b1a2e;
    font-weight: 700;
}